$fonts-light: 'Roboto-light', serif;
$fonts-reg: 'Roboto-reg', serif;
$fonts-med: 'Roboto-med', serif;
$fonts-bold: 'Roboto-bold', serif;
$fonts-semibold: 'Montserrat-semibold', serif;

$color-gray:#F3F3F3;
$color-blue:#081B36;
$color-red:#8F070E;
$text-color-black: #000;
$text-color-white: #FFF;
